body {
  background-color: black;
  font-family: verdana, sans-serif;
  text-align: center;
}
h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
#dlexcursion {
  text-align: center;
}
#dlexcursion a {
  color: aquamarine;
  font-size: 16px;
}
